<h1>Welcome to PolitiConnect, <%= @user.username %></h1>
  <p>
    You have successfully signed up to PolitiConnect, with the username <%= @user.username %>.<br>
  </p>
<p>Thanks for joining and have a great day!</p>
